.adding {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  height: 30px;
}

.input {
  height: 100%;
  width: 150px;
  border: 1px solid $default;
  border-radius: 2px;
  font-size: 16px;
  padding: 5px;

  &:focus {
    outline: 1px solid $default;
  }

  &.error {
    border: 1px solid $error;

    &:focus {
      outline: 1px solid $error;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  min-height: 30px;
  min-width: 30px;
  border: none;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  transition: .3s all;

  &:hover:not(.circle) {
    border-radius: 0;
  }

  &:disabled {
    opacity: .7;
  }

  &.circle {
    border-radius: 50%;
  }

  &.primary {
    background: $primary;

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      box-shadow: 0 0 0 5px rgba(21, 101, 192, .1);
    }
  }

  &.red {
    background: $error;

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      box-shadow: 0 0 0 5px rgba(198, 40, 40, .1);
    }
  }
}

.outline-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.75em;
  text-transform: uppercase;
  color: #000;
  border-radius: 4px;
  border: 1px solid #222;
  background: rgba(0, 0, 0, 0);
  padding: 5px 15px;
  transition: .3s all;

  &:hover,
  &:focus-visible {
    background: $default;
    color: #fff;
  }

  &.primary {
    color: $primary;
    border-color: $primary;

    &:hover,
    &:focus-visible {
      background: $primary;
      color: #fff;
    }
  }

  &.success {
    color: $success;
    border-color: $success;

    &:hover,
    &:focus-visible {
      background: $success;
      color: #fff;
    }
  }
}

.checkbox {
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  color: #fff;
  position: relative;
  transition: .3s;

  input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    margin: auto;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &.checked {
    border: none;
    background: $success;
  }
}

.icon-button {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  transition: .3s all;
  position: relative;

  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $default;
    z-index: 1;
    transition: .3s all;
    opacity: 0;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 2.4rem;
    height: 2.4rem;
    z-index: 2;
  }

  &:disabled {
    opacity: .8;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    div {
      opacity: .1;
    }
  }

  &:active:not(:disabled) {
    div {
      opacity: .3;
    }
  }

  &_primary {
    div {
      background: $primary;
    }

    svg {
      fill: $primary;
    }
  }

  &_error {
    div {
      background: $error;
    }

    svg {
      fill: $error;
    }
  }

  &_secondary {
    div {
      background: $secondary;
    }

    svg {
      fill: $secondary;
    }
  }

  &_success {
    div {
      background: $success;
    }

    svg {
      fill: $success;
    }
  }
}