.tasks {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;

  scrollbar-width: auto;
  scrollbar-color: $secondary;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(21,101,192,.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    position: relative;
    padding-right: 35px;

    &-title{
      height: 2rem;
      max-width: 75%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.done{
        color:lightslategray;
        text-decoration:line-through;
      }
    }

    &-btn{
      width: 25px;
      height: 25px;
    }
  }
}