.text-field {
  min-width: 150px;
  position: relative;

  &__input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 1.6rem 1.4rem;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
    transition: .3s all;
    position: relative;
    z-index: 2;
    background: transparent;

    &:hover,
    &:focus-visible {
      border: 1px solid black;
    }
  }

  &__label {
    height: 1.6rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, .3);
    z-index: 1;
    transition: .3s all;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.6rem;
    margin: auto 0;
    opacity: 0;
  }

  .text-field__input:focus ~ .text-field__label {
    display: block;
    max-width: 50%;
    z-index: 3;
    font-size: 1.2rem;
    background: #fff;
    color: $default;
    top: -8px;
    margin: 0;
    opacity: 1;
  }

  &.text-field_edit{
    .text-field__input{
      border: none;
      border-bottom: 2px solid rgba(0, 0, 0, .3);
      border-radius: 0;
      padding: 0;
    }

    .text-field__label{
      display: none;
    }

    .text-field__input ~ .text-field__label{
      display: none;
    }
  }

  &_primary{
    .text-field__input:focus-visible{
      border-color: $primary;
    }

    .text-field__input:focus ~ .text-field__label{
      color: $primary;
    }
  }

  &_error{
    .text-field__input:focus-visible{
      border-color: $error;
    }

    .text-field__input:focus ~ .text-field__label{
      color: $error;
    }
  }

  &_success{
    .text-field__input:focus-visible{
      border-color: $success;
    }

    .text-field__input:focus ~ .text-field__label{
      color: $success;
    }
  }

  &_secondary{
    .text-field__input:focus-visible{
      border-color: $secondary;
    }

    .text-field__input:focus ~ .text-field__label{
      color: $secondary;
    }
  }


}